@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Flashing dots animation */
.dot-flashing {
  position: relative;
  width: 40px;
  height: 8px;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0070f3;
  animation: dot-flashing 1s infinite alternate;
}

.dot-flashing::before {
  left: 0;
  animation-delay: 0.2s;
}

.dot-flashing::after {
  left: 16px;
  animation-delay: 0.4s;
}

@keyframes dot-flashing {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0.3;
  }
}

ul {
  list-style-type: decimal;  /* Use numbers for list items instead of bullets */
  padding-left: 1.5rem;      /* Add padding to align numbers with the text */
}
